@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap');


body{
    margin: 0 !important;
}

#root{
    width: 100%;
    height: 415vh;
}

#navbar{
    background-color: #ffffff;
    height: 60px;
    position: sticky;
    top: 0%;
}


#navbar > button{
    border: none;
    background-color: transparent;
    color: #4353e1;
    float: right;
    margin: 15px 30px;
    font-size: x-large;
    font-weight: 900;
}

#navbar > button:hover{
    text-decoration: underline;
    color: #9bb2fd;
}

#page{
    background-color: #4353e1;
    height: 93vh;
    width: 60%;
    flex-direction: column;
    float: left;
}

#page > h1{
    font-family: "Anonymous Pro";
    width: 50vw;
    height: 10vh;   
    margin: 15vw 0px 0px 10vh;
    color: #e5e4e4;
    font-size: 75px;
}

#page > h2{
    font-family: "Anonymous Pro";
    margin: 0vw 0px 0px 10vh;
    color: #332422;
    width: 50vw;
    height: 10vh;
    font-size: 65px;
}

#page > p{
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0vw 0px 0px 10vh;
    border: 0 !important;
    color: #e5e4e4;
    height: 10vh;
    width: 34vw;
    font-size: 30px;
}

#right{
    background-color: #e5e4e4;
    height: 93vh;
    width: 40%;
    float: right;
}

.borda{
    width: 15vw;
    height: 35vh;
    border: 4px solid #ffffff;
    background-color: transparent;
    margin-left: -80px;
    margin-top: 16vw;
}

.foto{
    width: 15vw;
    height: 35vh;
    margin-left: -40px;
    margin-top: -40px;
}

#pageSobre{
    width: 100%;
    height: 100vh;
    float: left;
    background-color: #4353e1;
}

.tituloDoSobre{
    text-align: center;
    font-weight: 900;
    margin-top: 100px;
    color: #ffffff;
}

.paragrafoDoSobre{
    margin-left: auto;
    margin-right: auto;
    margin-top: 7vw;
    color: #ffffff;
    width: 80vw;
    height: 70vh;
    font-size: xx-large;

}

#pageTecnologias{
    width: 100%;
    height: 100vh;
    float: left;
    background-color: #4353e1;
    display: grid;
    align-items: center;
    justify-content: center;
}

#pageTecnologias > h1{
    text-align: center;
    color: #ffffff;
    margin-top: 5vw;
    font-size: 40px;
}

#divImages{
    width: 65vw;
    height: 65vh;
}

#divImages > img{
    margin: 50px 32px;
    width: 120px;
    height: 120px;
    transition: 0.75s;
}

#divImages > img:hover{
    width: 130px;
    height: 130px;
}

#pageProjetos{
    float: left;
    width: 100%;
    height: 100%;
    background-color: #4353e1;
}

#pageProjetos > h1{
    text-align: center;
    color: #ffffff;
    margin-top: 5vw;
    font-size: 40px;
}

#pageProjetos > button{
    width: 20vw;
    height: 50vh;
    margin: 40px 25px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: none;
    box-shadow: 0 30px 45px -15px #00000081;
    transition: 1s;
    cursor: pointer;
}

#pageProjetos > button:hover{
    width: 11vw;
    height: 26vh;
}

#pageProjetos > button > img{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    margin: 9px 31px 10px 31px;
}

#imgPicpay,is-animation{
    animation: imgPicpay 2s cubic-bezier(0, .25, .7125, .1) infinite;
}